@font-face {
   font-family: 'blackchancery.regular';
   font-display: swap;
   src: url('file:///C:/Users/admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-15_193501/fonts/blackchancery.regular/font.ttf');
}
